* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(229, 57%, 11%);
}
.main_img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-image: url("images/bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  outline: hidden;
  border: none;
}
.container {
    width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  color: white;
  width: 400px;
  height: 200px;
  padding: 40px 60px 40px 40px;
  background-color: hsl(228, 56%, 26%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 100px;
  z-index: 1;
}

.icono{
  width: 50px;
    height: 50px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    padding: 14px;
    margin: 0;

}
.bg-icono {
 

height: 25px;
width: 25px;
    display: inline-block;
    margin-right: 10px;
    padding: 25px;
    
}
svg {
  margin: auto;
}
#brand {
  margin-left: 29px;
}

.right-column {
  width: 600px;
  height: 150px;
  background-color: hsl(228, 56%, 26%);
  margin-left: 35px;
  padding: 40px;
  border-radius: 15px;
  
  position: relative;
  z-index: 1;
}
.right-column-text {
  color: white;
  font-weight: 700;
}
.gigas {
  word-spacing: 405px;
}
/* barra carga*/
.progress {
  background-color: hsl(229, 57%, 11%);
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 15px;
  width: 500px;
}

.progress-done {
  background: linear-gradient(to left, hsl(335, 100%, 65%), hsl(6, 100%, 80%));
  /* background: linear-gradient(to left, #F2709C, #FF9472);*/
  /*box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;*/
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease;
}
.square {
  padding: 20px;
  background-color: white;
  color: black;
  width: 203px;
  text-transform: uppercase;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
}
.square-container {
  position: absolute;

  left: 336px;
  /*  top: 50px;*/
  bottom: 116px;
  /* right: 0;*/
  z-index: 1;
}

.big-number {
  font-size: 50px;
  
}
.gb-txt{
  color:  hsl(229, 7%, 55%);
   
}

@media (max-width: 500px) {
  .main {
    text-align: left;
  }
    .main_img {
       background-image:  url(images/bg-mobile.png);
       background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100%;
    }
  .container {
    
    flex-direction: column;
    align-items: center;
    /*alinea verticalemnte al ser column*/
    justify-content: flex-start;
    
  }
  .main{
    margin-top: 181px;
    width: 87%;
  }
  .right-column {
    height: 200px;
    width: 87%;

    margin-top: 30px;
    margin-right: 39px;
    text-align: center;
    
    padding: 29px;
    
    
  }
  .square{
    border-bottom-right-radius: 15px;
  }
  .square-container {
   
    top: 147px;
    left: 67px;
  }
  .gigas {
    word-spacing: 169px;
  }
  .progress {
   width:  264px;
    height: 20px;
  }
  #brand{
    margin-left: 29px;
  }
  .right-column-text {
   width:  261px;
  }
}
